body {
  font-family: 'Baloo Bhaina', cursive;

}

@media (min-width: 1200px)
.container {
  width: 1170px;
}


h1 {
  text-align: center;
}

.page-header {
  background-color: #E365C1
  padding-top: 20px;
  width: 1130px;
}

.top-header {
  width: 1130px;
  background-color: #E365C1
  padding-top: 20px;
  width: 1290px;
}

.sub {
  /*background-color: #EFEC86;*/
  padding-top: 20px;
}

img {
  width: 100%;
  height: auto;
  display: block;
  overflow: auto;
}

.thumbnail {
  width: 250px;
  height: 270px;
  overflow: auto;
  /*max-width:calc(150% - 10px);*/

}

.row {
  margin-right: 50px;
  margin-left: -15px;
}

.img-responsive:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.container {
  margin-right: 30px;
}
